@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Gugi");
@import url("https://fonts.googleapis.com/css?family=Kodchasan");

* {
  border: none;
  box-sizing: border-box;
  font-family: "Open-sans", sans-serif;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

/** DESKTOP(>=1024px) **/
@media (min-width: 1024px) {
  .page-content {
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    justify-content: center;
  }

  .home-menu-mobile-content {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .home-mobile-breadcrum {
    display: none;
  }

  .home-content {
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  /** -----------------------BANNER TOP----------------------- **/

  .mobile-tabsmenu {
    display: none;
  }

  .title-menutabs-mobile {
    display: none;
  }

  .banner-top {
    align-items: center;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(2, 480px);
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    padding: 32px 0;
    padding-bottom: 16px;
  }

  .banner-top__title {
    color: #0067ad;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 32px;
  }

  .banner-top__textblock {
    padding: 0px 85px;
  }

  .banner-top__list li {
    line-height: 22px;
    list-style: disc;
    margin-left: 32px;
  }

  .banner-top__text {
    color: #414141;
    font-weight: 300;
  }

  .banner-top__text.banner-top__list {
    padding: 25px 0px;
  }

  .banner-top__text-small {
    color: #474747;
    font-size: 12px;
  }

  .banner-top__img {
    justify-content: start;
    display: flex;
  }

  .banner-top__img img {
    width: 90%;
  }

  /** -----------------------BODY----------------------- **/
  .body-content {
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 935px;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    justify-items: center;
    padding: 64px;
    position: relative;
    width: 100%;
  }

  .cards-cursos {
    grid-column: 1;
    grid-row: 1;
    position: relative;
  }

  .cards-cursosEspecificos {
    grid-column: 1;
    grid-row: 2;
    position: relative;
  }

  .cards-cursos__title {
    color: #0067ad;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 32px;
  }

  .cards-cursos__card {
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #13131338;
    width: 360px;
    height: 296px;
    margin-bottom: 64px;
    padding: 50px;
  }

  .cards-cursos__cardOne {
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #13131338;
    width: 360px;
    height: 292px;
    margin-bottom: 64px;
    padding: 50px;
  }

  .card-title {
    color: #474747;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 12px;
    margin-top: -12px;
  }

  .card-text {
    color: #474747;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 22px;
  }

  .card-text a {
    color: #0067ad;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .card-subtitle {
    color: #a1a1a1;
    font-size: 16px;
    font-weight: 300;
  }

  .card-buttton {
    background: #4a992a;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin-top: 22px;
    padding: 20px 60px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 263px;
  }

  /** -----------------------CAROUSEL----------------------- **/
  .home-carousel {
    align-content: center;
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 976px;
    grid-template-rows: auto;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    padding: 25px 25px;
    border: none;
    border-right: 2px solid rgba(155, 155, 155, 0.1);
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    border-left: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    right: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-dots {
    display: none;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }
}

/** TABLET(>=768px && <=1024px) **/
@media (min-width: 768px) and (max-width: 1024px) {
  .home-mobile-breadcrum a {
    display: none;
  }

  .home-menu-mobile-content {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .home-mobile-breadcrum {
    display: none;
  }

  .home-content {
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  /** -----------------------BANNER TOP----------------------- **/
  .banner-top {
    align-items: center;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
  }

  .banner-top__title {
    color: #0067ad;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 32px;
  }

  .banner-top__textblock {
    padding: 25px 22px;
  }

  .banner-top__list li {
    line-height: 22px;
    list-style: disc;
    margin-left: 32px;
  }

  .banner-top__text {
    color: #414141;
    font-weight: 300;
  }

  .banner-top__text.banner-top__list {
    padding: 25px 0px;
  }

  .banner-top__text-small {
    color: #474747;
    font-size: 12px;
  }

  .banner-top__img {
    justify-content: start;
    display: flex;
  }

  .banner-top__img img {
    width: 90%;
  }

  /** -----------------------BODY----------------------- **/
  .body-content {
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    justify-items: center;
    padding: 64px;
    position: relative;
    width: 100%;
  }

  .cards-cursos {
    grid-column: 1;
    grid-row: 1;
    position: relative;
  }

  .cards-cursosEspecificos {
    grid-column: 1;
    grid-row: 2;
    position: relative;
  }

  .cards-cursos__title {
    color: #0067ad;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 32px;
  }

  .cards-cursos__card {
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #13131338;
    width: 360px;
    height: 296px;
    margin-bottom: 64px;
    padding: 50px;
  }

  .cards-cursos__cardOne {
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #13131338;
    width: 360px;
    height: 292px;
    margin-bottom: 64px;
    padding: 50px;
  }

  .card-title {
    color: #474747;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 12px;
    margin-top: -12px;
  }

  .card-text {
    color: #474747;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 22px;
  }

  .card-text a {
    color: #0067ad;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .card-subtitle {
    color: #a1a1a1;
    font-size: 16px;
    font-weight: 300;
  }

  .card-buttton {
    background: #4a992a;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin-top: 22px;
    padding: 20px 60px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 263px;
  }

  /** -----------------------CAROUSEL----------------------- **/
  .home-carousel {
    align-content: center;
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 976px;
    grid-template-rows: auto;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    padding: 25px 25px;
    border: none;
    border-right: 2px solid rgba(155, 155, 155, 0.1);
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    border-left: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    right: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-dots {
    display: none;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }
}

/** MOBILE(<=768px) **/
@media (max-width: 768px) {
  .banner-top {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .page-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(250px, auto);
    background: url(../images/Pattern.png) repeat center center fixed;
    justify-content: center;
  }

  /** -----------------------CONTENT----------------------- **/

  .home-menu-mobile-content {
    padding: 25px 20px;
    padding-top: 55px;
  }

  p.home-menu-mobile__link {
    color: #0067ad;
    font-size: 24px;
    font-weight: 700;
    padding-left: 32px;
    padding-bottom: 32px;
  }

  p.home-menu-mobile__link::before {
    content: "<";
    height: auto;
    left: 27px;
    position: absolute;
    width: auto;
  }

  p.home-menu-mobile__title {
    color: #0067ad;
    font-size: 18px;
    font-weight: 300;
    padding-top: 5px;
    padding-left: 32px;
  }

  .home-mobile-breadcrum a:last-child {
    padding: 0 5px;
  }

  .home-mobile-breadcrum a {
    color: #4f4f4f;
    cursor: pointer;
  }

  .home-mobile-breadcrum {
    cursor: pointer;
    display: flex;
    padding: 25px 12px;
    padding-top: 25px;
  }

  /** -----------------------CAROUSEL----------------------- **/
  .home-carousel {
    display: none;
    /* align-content: center;
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 596px;
    grid-template-rows: auto;
    justify-content: center;
    padding-bottom: 32px; */
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    padding: 25px 25px;
    border: none;
    border-right: 2px solid rgba(155, 155, 155, 0.1);
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    border-left: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    right: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-dots {
    display: none;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  /** MOBILE MENU **/

  .rotate-reset {
    transform: rotate(0deg);
    transition: 0.3s;
  }
  .arrow-img {
    cursor: pointer;
    margin-top: -21.5px;
    padding: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  .rotate-reset-two {
    transform: rotate(0deg);
    transition: 0.3s;
  }
  .arrow-img-two {
    cursor: pointer;
    margin-top: -21.5px;
    padding: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  .rotate {
    transform: rotate(180deg);
    transition: 0.3s;
  }

  .mobile-menu {
    background: #fff;
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2);
    left: 0;
    padding: 22px;
    position: relative;
    width: 100%;
  }

  p.mobile-toggle {
    color: #00326b;
    font-size: 20px;
    font-weight: 900;
  }

  p.itajai {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #00326b;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
    padding: 18px 0;
    text-align: left;
  }

  ul.mobile {
    display: block;
    margin-bottom: -15px;
    padding: 0;
    padding-top: 25px;
  }

  ul.mobile .title {
    border: none;
  }

  li.menu-item {
    border: none;
    padding: 8px 0;
    text-align: left;
  }

  ul.sub-menu {
    display: block;
    margin-bottom: -20px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 32px;
  }

  ul.sub-menu .menu-item .menu-items {
    text-align: left;
  }

  .contato-title-mb {
    color: #3e3e3e;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
  }

  .menu-item div {
    color: #3e3e3e;
  }

  .menu-item-hour {
    color: #757577;
  }

  .breadcrumb {
    background: #efefef;
    display: flex;
    padding: 25px 0;
    padding-left: 15px;
  }

  .breadcrumb a {
    color: #4f4f4f;
    padding: 0 10px;
  }

  .banner-top__title {
    color: #0067ad;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 32px;
  }

  .banner-top__textblock {
    padding: 0px 115px;
  }

  .banner-top__list li {
    line-height: 22px;
    list-style: disc;
    margin-left: 32px;
  }

  .banner-top__text {
    color: #414141;
    font-weight: 300;
  }

  .banner-top__text.banner-top__list {
    padding: 25px 0px;
  }

  .banner-top__text-small {
    color: #474747;
    font-size: 12px;
  }

  .body-content {
    display: none;
  }

  /**---------------------------- MOBILE TABS ----------------------------------**/
  .mobile-tabsmenu {
    background: #fff;
    box-shadow: 4px 6px 8px #31313138;
    color: #a21839;
    font-size: 16px;
    font-weight: 300;
    left: 50%;
    margin: 32px 0;
    padding: 8px 28px;
    position: relative;
    transform: translateX(-50%);
    width: 80%;
  }

  .mobile-tabsmenu__title {
    border: none;
    border-bottom: 2px solid #31313112;
    cursor: pointer;
    padding: 25px 0;
  }
  .mobile-tabsmenu__title--noborder {
    border: none;
    cursor: pointer;
    padding: 25px 0;
  }

  .mobile-tabsmenu__submenu {
    margin: 32px 0;
  }

  .mobile-tabsmenu__submenu li {
    padding: 3px 0;
  }

  /**---------------------------- MOBILE TABS ----------------------------------**/
  .submenu-title {
    color: #00326b;
    font-size: 24px;
    font-weight: 300;
  }
  .submenu-subtitle {
    font-size: 14px;
    color: #a1a1a1;
  }
  .submenu-text {
    color: #313131;
    margin: 20px 0;
  }
  .submenu-ul li {
    list-style: disc;
    margin-left: 32px;
    color: #313131;
  }
  .card-buttton {
    background: #4a992a;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    margin-top: 22px;
    padding: 20px 60px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 8px;
  }
  .submenu-ul {
    margin-bottom: 32px;
  }
  .title-menutabs-mobile {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 32px 28px;
    color: #0067ad;
  }
}
