@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Gugi");

/** RESET CSS **/
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/** DESKTOP FULL(>=1200px) **/
@media (min-width: 1200px) {
  /** HOME **/

  .banner-mobile-img {
    display: none;
  }

  .banner-img {
    overflow: hidden;
  }

  .banner-img img {
    margin-bottom: -5px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  /** MENU **/

  .breadcrumb {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  /* ul li {
    margin-right: 5px;
    padding: 10px 25px;
    text-align: center;
  } */

  ul li:hover a,
  ul li:hover {
    background: #00316b;
    color: #fff;
  }

  #tab1,
  #tab2,
  #tab3 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    margin-top: 24px;
    padding: 0 15%;
  }

  section {
    display: flex;
    padding: 25px 30px;
  }

  section:hover img {
    transform: scale(1.2);
  }

  section p {
    cursor: pointer;
  }

  section img {
    cursor: pointer;
    height: 22px;
    margin: 0 12px;
    transform-origin: 50% 50%;
    width: 22px;
  }

  .home-banner__menu {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 308px);
    grid-template-rows: auto;
    justify-content: center;
    padding: 0 125px;
    position: relative;
  }

  .home-banner__menu-title {
    background: transparent;
    color: #00316b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 25px 0;
    position: relative;
    text-align: center;
    transition: background 0s linear, color 0s linear;
    position: relative;
    height: 74px;
  }

  .home-banner__menu-title a {
    color: #00316b;
    padding: 27px 13%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: -25px;
  }

  .home-banner__menu-title:hover a {
    color: #fff;
    background: #00316b;
    border: none;
  }

  li.home-banner__menu-title::before {
    content: "";
    width: 1px;
    height: 50px;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .home-banner__menu-title--active,
  .home-banner__menu-languages-item--active a {
    background: #00316b;
    color: #fff !important;
  }

  .home-banner__menu-title--active::before {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #00316b;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 74px;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
  }

  /** CONTENT **/

  .home-content {
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: repeat(2, 615px);
    grid-template-rows: repeat(2, 425px);
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 85px 0;
  }

  .home-content__textone {
    align-self: center;
    background: transparent;
    font-size: 18px;
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
    padding: 25px 50px;
  }

  .home-content__titleone {
    background: transparent;
    color: #0067ad;
    font-size: 24px;
    font-style: italic;
  }

  .home-content__text {
    background: transparent;
    color: #504f4f;
    font-size: 16px;
    line-height: 28px;
  }

  .home-content__text b {
    background: transparent;
    color: #0067ad;
  }

  .textOne__one {
    margin-top: 8%;
    margin-bottom: 32px;
  }

  .textOne__two {
    margin-bottom: 64px;
  }

  .home-content__texttwo {
    align-self: center;
    background: transparent;
    font-size: 18px;
    grid-column: 2/3;
    grid-row: 2;
    justify-self: center;
    padding: 25px 60px;
  }

  .home-content__text b {
    background: transparent;
    color: #0067ad;
    font-size: 24px;
  }

  .textTwo__title {
    margin-top: 30px;
    margin-bottom: 22px;
  }

  .textTwo__text {
    /* margin-bottom: 64px; */
  }

  .home-content-imgRight {
    align-content: end;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    justify-content: start;
    left: -28px;
    position: relative;
    width: 600px;
  }

  .home-content-imgLeft {
    align-content: start;
    display: flex;
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    justify-content: end;
    position: relative;
    right: -28px;
    width: 600px;
  }

  /** BAND **/

  .home-content-band {
    align-items: center;
    align-content: center;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 25px 132px;
    justify-content: center;
    align-content: center;
  }

  .home-content-band__item {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .home-content-title {
    color: #0067ad;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
  }

  /** CAROUSEL **/

  .home-carousel {
    align-content: center;
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: auto;
    justify-content: center;
    overflow: hidden;
    padding: 32px 0;
    width: 100%;
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  /** MENU DROP **/

  .home-banner__menu-languages {
    background: #fff;
    display: none;
    left: 0;
    padding: 62px 295px;
    position: relative;
    transition: display 0.6s linear;
    top: 72px;
  }

  #menudrop-languages {
    transition: display 0.6s linear;
  }

  .home-banner__menu-languages-item {
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 25px;
    padding: 32px 12px;
    padding-bottom: 12px;
    transition: background 0s linear, color 0s linear;
  }

  .home-banner__menu-languages-item img {
    padding: 0 10px;
    transform-origin: 50% 50%;
  }

  .home-banner__menu-languages-item:hover img {
    transform: scale(1.5);
  }

  .home-banner__menu-languages-item--active {
    background: #00316b;
    color: #fff;
  }

  .home-banner__menu-languages--item img {
    padding: 5px 5px;
  }

  .btn-close {
    background: #cc1618;
    border-radius: 25px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    font-family: "Gugi", cursive;
    font-size: 32px;
    font-weight: 300;
    height: 47px;
    line-height: 44px;
    right: 32px;
    padding: 0 15px;
    position: absolute;
    top: 5%;
    transition: box-shadow 0.6s linear;
  }

  .btn-close:hover {
    background: rgb(226, 72, 44);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.6);
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -42px;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-dots {
    display: none;
  }
}

/** TABLET(>=768px && <=1024px) **/
@media (min-width: 768px) AND (max-width: 1200px) {
  /** HOME **/

  .banner-mobile-img {
    display: none;
  }

  .banner-img {
    overflow: hidden;
  }

  .banner-img img {
    margin-bottom: -5px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  /** MENU **/

  .breadcrumb {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  /* ul li {
    margin-right: 5px;
    padding: 10px 25px;
    text-align: center;
  } */

  ul li:hover a,
  ul li:hover {
    background: #00316b;
    color: #fff;
  }

  #tab1,
  #tab2,
  #tab3 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 74px;
    margin-top: 64px;
    padding: 0 15%;
  }

  section {
    display: flex;
    padding: 25px 30px;
  }

  section:hover img {
    transform: scale(1.2);
  }

  section p {
    cursor: pointer;
  }

  section img {
    cursor: pointer;
    height: 22px;
    margin: 0 12px;
    transform-origin: 50% 50%;
    width: 22px;
  }

  .home-banner__menu {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .home-banner__menu-title {
    background: transparent;
    color: #00316b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 25px 0;
    position: relative;
    text-align: center;
    transition: background 0s linear, color 0s linear;
  }

  .home-banner__menu-title a {
    color: #00316b;
    padding: 25px 25px;
  }

  .home-banner__menu-title:hover a {
    color: #fff;
    background: #00316b;
  }

  .home-banner__menu-title--active,
  .home-banner__menu-languages-item--active a {
    background: #00316b;
    color: #fff !important;
  }

  .home-banner__menu-title--active::before {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #00316b;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 62px;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
  }

  /** CONTENT **/

  .home-content {
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 425px);
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 85px 0;
  }

  .home-content__textone {
    align-self: center;
    background: transparent;
    font-size: 18px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    padding: 25px 50px;
    padding-top: 0;
  }

  .home-content__titleone {
    background: transparent;
    color: #0067ad;
    font-size: 24px;
    font-style: italic;
  }

  .home-content__text {
    background: transparent;
    color: #504f4f;
    font-size: 16px;
    line-height: 28px;
  }

  .home-content__text b {
    background: transparent;
    color: #0067ad;
  }

  .textOne__one {
    margin-bottom: 32px;
  }

  .textOne__two {
    margin-bottom: 0;
  }

  .home-content__texttwo {
    align-self: center;
    background: transparent;
    font-size: 18px;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    margin-top: 25px;
    padding: 25px 60px;
  }

  .home-content__text b {
    background: transparent;
    color: #0067ad;
    font-size: 24px;
  }

  .textTwo__title {
  }

  .textTwo__text {
    /* margin-bottom: 64px; */
  }

  .home-content-imgRight {
    align-content: center;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  .home-content-imgLeft {
    align-content: start;
    display: flex;
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  /** BAND **/

  .home-content-band {
    align-items: center;
    align-content: center;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 25px 132px;
    justify-content: center;
    align-content: center;
  }

  .home-content-band__item {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .home-content-title {
    color: #0067ad;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
  }

  /** CAROUSEL **/

  .home-carousel {
    align-content: center;
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: auto;
    justify-content: center;
    overflow: hidden;
    padding: 25px 0;
    width: 100%;
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  /** MENU DROP **/

  .home-banner__menu-languages {
    background: #fff;
    display: none;
    left: 0;
    padding: 62px 295px;
    position: relative;
    transition: display 0.6s linear;
    top: 72px;
  }

  #menudrop-languages {
    transition: display 0.6s linear;
  }

  .home-banner__menu-languages-item {
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 25px;
    padding: 32px 12px;
    padding-bottom: 12px;
    transition: background 0s linear, color 0s linear;
  }

  .home-banner__menu-languages-item img {
    padding: 0 10px;
    transform-origin: 50% 50%;
  }

  .home-banner__menu-languages-item:hover img {
    transform: scale(1.5);
  }

  .home-banner__menu-languages-item--active {
    background: #00316b;
    color: #fff;
  }

  .home-banner__menu-languages--item img {
    padding: 5px 5px;
  }

  .btn-close {
    background: #cc1618;
    border-radius: 25px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    font-family: "Gugi", cursive;
    font-size: 32px;
    font-weight: 300;
    height: 47px;
    line-height: 44px;
    right: 32px;
    padding: 0 15px;
    position: absolute;
    top: 5%;
    transition: box-shadow 0.6s linear;
  }

  .btn-close:hover {
    background: rgb(226, 72, 44);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.6);
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -42px;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-dots {
    display: none;
  }
}

/** MOBILE(<=768px) **/
@media (max-width: 768px) {
  /** HOME **/

  .banner-img {
    display: none;
  }

  .banner-mobile-img img {
    margin-bottom: -5px;
    position: relative;
    width: 100vw;
    height: 82%;
  }

  /** MENU **/

  .arrow-img {
    cursor: pointer;
    margin-top: -21.5px;
    padding: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  .rotate {
    transform: rotate(180deg);
    transition: 0.3s;
  }
  .rotate-reset {
    transform: rotate(0deg);
    transition: 0.3s;
  }

  .mobile-menu {
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2);
    padding: 22px;
    position: relative;
  }

  p.mobile-toggle {
    color: #00326b;
    font-size: 20px;
    font-weight: 900;
  }

  p.itajai {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #00326b;
    font-size: 18px;
    font-weight: 800;
    padding: 18px 0;
  }

  ul.mobile {
    margin-bottom: -15px;
    padding: 0;
    padding-top: 25px;
  }

  li.menu-item {
    padding: 5px 0;
  }

  ul.sub-menu {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 42px;
  }

  .contato-title-mb {
    color: #3e3e3e;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
  }

  .menu-item div {
    color: #3e3e3e;
  }

  .menu-item-hour {
    color: #757577;
  }

  .breadcrumb {
    background: #efefef;
    display: flex;
    padding: 25px 0;
    padding-left: 15px;
  }

  .breadcrumb a {
    color: #4f4f4f;
    padding: 0 10px;
  }

  /* ul li {
    margin-right: 5px;
    padding: 10px 25px;
    text-align: center;
  } */

  #tab1,
  #tab2,
  #tab3 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 74px;
    margin-top: 64px;
    padding: 0 15%;
  }

  section {
    display: flex;
    padding: 25px 30px;
  }

  section:hover img {
    transform: scale(1.2);
  }

  section p {
    cursor: pointer;
  }

  section img {
    cursor: pointer;
    height: 22px;
    margin: 0 12px;
    transform-origin: 50% 50%;
    width: 22px;
  }

  .home-banner__menu {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .home-banner__menu-title {
    background: transparent;
    color: #00316b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 25px 0;
    position: relative;
    text-align: center;
    transition: background 0s linear, color 0s linear;
  }

  .home-banner__menu-title a {
    color: #00316b;
    padding: 25px 25px;
  }

  .home-banner__menu-title:hover a {
    color: #fff;
    background: #00316b;
  }

  .home-banner__menu-title--active,
  .home-banner__menu-languages-item--active a {
    background: #00316b;
    color: #fff !important;
  }

  .home-banner__menu-title--active::before {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #00316b;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 62px;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
  }

  /** CONTENT **/

  #tabs_container {
    display: none;
  }

  .home-content {
    background: #efefef;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 85px 0;
    padding-bottom: 32px;
    padding-top: 12px;
  }

  .home-content__textone {
    align-self: center;
    background: transparent;
    font-size: 18px;
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
    padding: 25px 50px;
  }

  .home-content__titleone {
    background: transparent;
    color: #0067ad;
    font-size: 24px;
    font-style: italic;
  }

  .home-content__text {
    background: transparent;
    color: #504f4f;
    font-size: 16px;
    line-height: 28px;
  }

  .home-content__text b {
    background: transparent;
    color: #0067ad;
  }

  .textOne__one {
    margin-bottom: 32px;
  }

  .textOne__two {
    margin-bottom: 0;
  }

  .home-content__texttwo {
    align-self: center;
    background: transparent;
    font-size: 18px;
    grid-column: 1/3;
    grid-row: 2;
    justify-self: center;
    margin-bottom: 12px;
    margin-top: 25px;
    padding: 0px 50px;
  }

  .home-content__text b {
    background: transparent;
    color: #0067ad;
    font-size: 24px;
  }

  .textTwo__title {
  }

  .textTwo__text {
    /* margin-bottom: 64px; */
  }

  .home-content-imgRight {
    display: none;
  }

  .home-content-imgLeft {
    display: none;
  }

  /** BAND **/

  .home-content-band {
    display: none;
  }

  .home-content-band__item {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .home-content-title {
    color: #0067ad;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
  }

  /** CAROUSEL **/

  .home-carousel {
    display: none;
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  /** MENU DROP **/

  .home-banner__menu-languages {
    background: #fff;
    display: none;
    left: 0;
    padding: 62px 295px;
    position: relative;
    transition: display 0.6s linear;
    top: 72px;
  }

  #menudrop-languages {
    transition: display 0.6s linear;
  }

  .home-banner__menu-languages-item {
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 25px;
    padding: 32px 12px;
    padding-bottom: 12px;
    transition: background 0s linear, color 0s linear;
  }

  .home-banner__menu-languages-item img {
    padding: 0 10px;
    transform-origin: 50% 50%;
  }

  .home-banner__menu-languages-item:hover img {
    transform: scale(1.5);
  }

  .home-banner__menu-languages-item--active {
    background: #00316b;
    color: #fff;
  }

  .home-banner__menu-languages--item img {
    padding: 5px 5px;
  }

  .btn-close {
    background: #cc1618;
    border-radius: 25px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    font-family: "Gugi", cursive;
    font-size: 32px;
    font-weight: 300;
    height: 47px;
    line-height: 44px;
    right: 32px;
    padding: 0 15px;
    position: absolute;
    top: 5%;
    transition: box-shadow 0.6s linear;
  }

  .btn-close:hover {
    background: rgb(226, 72, 44);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.6);
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -42px;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-dots {
    display: none;
  }
}
