@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Gugi");
@import url("https://fonts.googleapis.com/css?family=Kodchasan");

* {
  border: none;
  box-sizing: border-box;
  font-family: "Open-sans", sans-serif;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

/** DESKTOP(>=1024px) **/
@media (min-width: 1024px) {
  .page-content {
    display: grid;
    grid-template-columns: 232px 953px;
    grid-template-rows: minmax(250px, auto);
    background: url(../images/Pattern.png) repeat center center fixed;
    justify-content: center;
  }

  /** -----------------------CONTENT----------------------- **/

  .home-menu-mobile-content {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .home-mobile-breadcrum {
    display: none;
  }

  .home-content {
    grid-column: 2/3;
    grid-row: 1;
  }

  .home-content__title {
    color: #0067ad;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20%;
    margin-bottom: 12px;
  }

  .home-content__titleOne {
    color: #0067ad;
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 12px;
  }

  .home-content__text {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
    padding-right: 72px;
  }

  .home-content__menu-title {
    color: #0067ad;
    font-size: 20px;
    font-weight: 600;
    margin-top: 42px;
    margin-bottom: 12px;
  }

  .home-content__menu-show {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }

  .home-content__menu-card {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    margin-top: 25px;
    margin-right: 20px;
    padding: 25px;
    width: 285px;
  }

  .home-content__menu-card__title {
    color: #a21839;
    font-size: 20px;
    font-weight: 600;
    margin-top: 9px;
    margin-bottom: 8px;
  }

  .home-content__menu-card__week {
    color: #0067ad;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 22px;
  }

  .home-content__menu-card__hour {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-top: 18px;
  }

  .home-content__menu-card__date {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 18px;
    margin-top: 5px;
  }

  .home-content__menu-card__text {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 18px;
  }

  .home-content__menu-card__price {
    color: #4f4f4f;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 5px;
  }

  .home-content__menu-card__price b {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
  }

  .home-content__menu-card__btn {
    background: #45a83c;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
    outline: none;
    padding: 15px 30px;
  }

  .home-content__menu-card__info {
    color: #0067ad;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 22px;
    cursor: pointer;
    text-align: center;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #4f4f4f40;
    height: 2px;
  }

  /** -----------------------SIDEMENU----------------------- **/
  .home-content__nav {
    grid-column: 1/2;
    grid-row: 1;
  }

  .home-content__nav-title {
    color: #0067ad;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 22px;
    margin-top: 62px;
  }

  .home-content__nav-links {
    padding: 34px;
    margin-top: -32px;
  }

  .home-content__nav-link-title a {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
  }

  .home-content__nav-link-title {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    margin-top: 12px;
  }

  /** -----------------------CAROUSEL----------------------- **/
  .home-carousel {
    align-content: center;
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 976px;
    grid-template-rows: auto;
    justify-content: center;
    padding: 32px 0;
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    padding: 25px 25px;
    border: none;
    border-right: 2px solid rgba(155, 155, 155, 0.1);
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    border-left: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    right: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-dots {
    display: none;
  }

  /** ----------------------- MENUTABS ----------------------- **/

  ul {
    display: flex;
    padding: 10px 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  ul li {
    border-right: 2px solid rgba(0, 0, 0, 0.065);
    margin-right: 5px;
    padding: 10px 25px;
    text-align: center;
  }

  #current,
  #current a {
    background: #193f7c;
    color: #fff;
    position: relative;
  }

  ul li:hover a,
  ul li:hover {
    background: #193f7c;
    color: #fff;
  }

  #current::before {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #193f7c;
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
    bottom: -12px;
    transform: translateX(-50%);
  }

  .tabs-title {
    color: #193f7c;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .tabs-display-cards {
    display: flex;
    position: relative;
  }

  .tabs-card {
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin-bottom: 65px;
    width: 295px;
  }

  .tabs-class {
    color: #a21839;
    font-size: 22px;
    font-weight: 700;
    padding: 12px 0;
  }

  .tabs-week {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 12px;
  }

  .tabs-hour {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 5px;
    padding-top: 12px;
  }

  .tabs-date {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 12px;
  }

  .tabs-text {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    padding-top: 12px;
  }

  .tabs-price {
    color: #4f4f4f;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 12px;
    padding-top: 5px;
    margin-bottom: 12px;
    margin-top: 0;
  }

  .tabs-price b {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
  }

  .tabs-button {
    background: #45a83c;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
  }

  .tabs-button:hover {
    background: #86c54b;
  }

  .tabs-info {
    color: #0067ad;
    cursor: pointer;
    margin-top: 25px;
    text-align: center;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  /** ----------------------- MODAL ----------------------- **/

  .tabs-info__modal {
    height: 100%;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
  }

  .tabs-info__modal-visible {
    visibility: visible;
  }

  .tabs-info__modal-overlay {
    background: hsla(0, 0%, 0%, 0.32);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    visibility: hidden;
    width: 100%;
    z-index: 10;
  }

  .tabs-info__modal-visible .tabs-info__modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .tabs-info__modal-transition {
    left: 50%;
    opacity: 0;
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    transition: opacity 0s linear;
  }

  .tabs-info__modal-visible .tabs-info__modal-transition {
    background: #fff;
    left: 50%;
    opacity: 1;
    padding: 0px 52px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-title__one {
    color: #0067ad;
    font-size: 26px;
    font-weight: 600;
    padding: 25px 0;
  }

  .modal-title__two {
    color: #313131;
    font-size: 26px;
    font-weight: 600;
    padding: 25px 0;
  }

  .modal-close {
    color: #0067ad;
    cursor: pointer;
    font-family: "Kodchasan", sans-serif;
    font-size: 32px;
    font-weight: 300;
    padding: 25px 0;
    position: absolute;
    right: 15px;
    top: -22px;
  }

  .modal-text__list {
    color: #4f4f4f;
    padding: 2px 0;
  }

  .modal-parcel {
    color: #4f4f4f;
    padding: 2px 0;
  }

  .modal-incash {
    color: #4f4f4f;
    padding-top: 2px;
    padding-bottom: 32px;
  }
}

/** TABLET(>=768px && <=1024px) **/
@media (min-width: 768px) and (max-width: 1024px) {
  .home-menu-mobile-content {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .home-mobile-breadcrum {
    display: none;
  }

  .page-content {
    display: grid;
    grid-template-columns: 232px 516px;
    grid-template-rows: minmax(250px, auto);
    background: url(../images/Pattern.png) repeat center center fixed;
    justify-content: center;
  }

  /** -----------------------CONTENT----------------------- **/
  .home-content {
    grid-column: 2/3;
    grid-row: 1;
  }

  .home-content__title {
    color: #0067ad;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20%;
    margin-bottom: 12px;
  }

  .home-content__titleOne {
    color: #0067ad;
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 12px;
  }

  .home-content__text {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
    padding-right: 72px;
  }

  .home-content__menu-title {
    color: #0067ad;
    font-size: 20px;
    font-weight: 600;
    margin-top: 42px;
    margin-bottom: 12px;
  }

  .home-content__menu-show {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }

  .home-content__menu-card {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    margin-top: 25px;
    margin-right: 20px;
    padding: 25px;
    width: 285px;
  }

  .home-content__menu-card__title {
    color: #a21839;
    font-size: 20px;
    font-weight: 600;
    margin-top: 9px;
    margin-bottom: 8px;
  }

  .home-content__menu-card__week {
    color: #0067ad;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 22px;
  }

  .home-content__menu-card__hour {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-top: 18px;
  }

  .home-content__menu-card__date {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 18px;
    margin-top: 5px;
  }

  .home-content__menu-card__text {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 18px;
  }

  .home-content__menu-card__price {
    color: #4f4f4f;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 5px;
  }

  .home-content__menu-card__price b {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
  }

  .home-content__menu-card__btn {
    background: #45a83c;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
    outline: none;
    padding: 15px 30px;
  }

  .home-content__menu-card__info {
    color: #0067ad;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 22px;
    cursor: pointer;
    text-align: center;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #4f4f4f40;
    height: 2px;
  }

  /** -----------------------SIDEMENU----------------------- **/
  .home-content__nav {
    grid-column: 1/2;
    grid-row: 1;
  }

  .home-content__nav-title {
    color: #0067ad;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 22px;
    margin-top: 62px;
  }

  .home-content__nav-links {
    padding: 34px;
    margin-top: -32px;
  }

  .home-content__nav-link-title a {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
  }

  .home-content__nav-link-title {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    margin-top: 12px;
  }

  /** -----------------------CAROUSEL----------------------- **/
  .home-carousel {
    align-content: center;
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 596px;
    grid-template-rows: auto;
    justify-content: center;
    padding-bottom: 32px;
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    padding: 25px 25px;
    border: none;
    border-right: 2px solid rgba(155, 155, 155, 0.1);
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    border-left: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    right: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-dots {
    display: none;
  }

  /** ----------------------- MENUTABS ----------------------- **/

  ul {
    display: flex;
    padding: 10px 0;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: scroll;
    overflow-y: hidden;
  }

  ul li {
    border-right: 2px solid rgba(0, 0, 0, 0.065);
    margin-right: 5px;
    padding: 10px 25px;
    text-align: center;
  }

  #current,
  #current a {
    background: #193f7c;
    color: #fff;
    position: relative;
  }

  ul li:hover a,
  ul li:hover {
    background: #193f7c;
    color: #fff;
  }

  #current::before {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #193f7c;
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
    bottom: -12px;
    transform: translateX(-50%);
  }

  .tabs-title {
    color: #193f7c;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .tabs-display-cards {
    display: flex;
    position: relative;
  }

  .tabs-card {
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin-bottom: 65px;
    width: 295px;
  }

  .tabs-class {
    color: #a21839;
    font-size: 22px;
    font-weight: 700;
    padding: 12px 0;
  }

  .tabs-week {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 12px;
  }

  .tabs-hour {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 5px;
    padding-top: 12px;
  }

  .tabs-date {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 12px;
  }

  .tabs-text {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    padding-top: 12px;
  }

  .tabs-price {
    color: #4f4f4f;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 12px;
    padding-top: 5px;
    margin-bottom: 12px;
    margin-top: 0;
  }

  .tabs-price b {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
  }

  .tabs-button {
    background: #45a83c;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
  }

  .tabs-button:hover {
    background: #86c54b;
  }

  .tabs-info {
    color: #0067ad;
    cursor: pointer;
    margin-top: 25px;
    text-align: center;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  /** ----------------------- MODAL ----------------------- **/

  .tabs-info__modal {
    height: 100%;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
  }

  .tabs-info__modal-visible {
    visibility: visible;
  }

  .tabs-info__modal-overlay {
    background: hsla(0, 0%, 0%, 0.32);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    visibility: hidden;
    width: 100%;
    z-index: 10;
  }

  .tabs-info__modal-visible .tabs-info__modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .tabs-info__modal-transition {
    left: 50%;
    opacity: 0;
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    transition: opacity 0s linear;
  }

  .tabs-info__modal-visible .tabs-info__modal-transition {
    background: #fff;
    left: 50%;
    opacity: 1;
    padding: 0px 52px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-title__one {
    color: #0067ad;
    font-size: 26px;
    font-weight: 600;
    padding: 25px 0;
  }

  .modal-title__two {
    color: #313131;
    font-size: 26px;
    font-weight: 600;
    padding: 25px 0;
  }

  .modal-close {
    color: #0067ad;
    cursor: pointer;
    font-family: "Kodchasan", sans-serif;
    font-size: 32px;
    font-weight: 300;
    padding: 25px 0;
    position: absolute;
    right: 15px;
    top: -22px;
    transform-origin: 50% 50%;
    transition: transform 0.6s cubic-bezier(0.31, -0.5, 0.67, 1.55);
    transform-style: preserve-3d;
  }

  .modal-close:hover {
    transform: rotate(90deg);
  }

  .modal-text__list {
    color: #4f4f4f;
    padding: 2px 0;
  }

  .modal-parcel {
    color: #4f4f4f;
    padding: 2px 0;
  }

  .modal-incash {
    color: #4f4f4f;
    padding-top: 2px;
    padding-bottom: 32px;
  }
}

/** MOBILE(<=768px) **/
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }

  .page-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(250px, auto);
    background: url(../images/Pattern.png) repeat center center fixed;
    justify-content: center;
  }

  /** -----------------------CONTENT----------------------- **/

  .home-menu-mobile-content {
    padding: 25px 20px;
    padding-top: 55px;
  }

  p.home-menu-mobile__link {
    color: #0067ad;
    font-size: 24px;
    font-weight: 700;
  }

  p.home-menu-mobile__link::before {
    content: "<";
    height: auto;
    left: 27px;
    position: absolute;
    width: auto;
  }

  p.home-menu-mobile__title {
    color: #0067ad;
    font-size: 18px;
    font-weight: 300;
    padding-top: 5px;
  }

  .home-mobile-breadcrum a:last-child {
    padding: 0 5px;
  }

  .home-mobile-breadcrum a {
    color: #4f4f4f;
    cursor: pointer;
  }

  .home-mobile-breadcrum {
    cursor: pointer;
    display: flex;
    padding: 25px 0;
    padding-top: 0;
  }

  .home-content {
    grid-column: 1;
    grid-row: 1;
    padding: 32px;
  }

  .home-content__title {
    color: #0067ad;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20%;
    margin-bottom: 12px;
  }

  .home-content__titleOne {
    color: #0067ad;
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 12px;
  }

  .home-content__text {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
  }

  .home-content__menu-title {
    color: #0067ad;
    font-size: 20px;
    font-weight: 600;
    margin-top: 42px;
    margin-bottom: 12px;
  }

  .home-content__menu-show {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }

  .home-content__menu-card {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    margin-top: 25px;
    margin-right: 20px;
    padding: 25px;
    width: 285px;
  }

  .home-content__menu-card__title {
    color: #a21839;
    font-size: 20px;
    font-weight: 600;
    margin-top: 9px;
    margin-bottom: 8px;
  }

  .home-content__menu-card__week {
    color: #0067ad;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 22px;
  }

  .home-content__menu-card__hour {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-top: 18px;
  }

  .home-content__menu-card__date {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 18px;
    margin-top: 5px;
  }

  .home-content__menu-card__text {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 18px;
  }

  .home-content__menu-card__price {
    color: #4f4f4f;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 5px;
  }

  .home-content__menu-card__price b {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
  }

  .home-content__menu-card__btn {
    background: #45a83c;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
    outline: none;
    padding: 15px 30px;
  }

  .home-content__menu-card__info {
    color: #0067ad;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 22px;
    cursor: pointer;
    text-align: center;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #4f4f4f40;
    height: 2px;
  }

  /** -----------------------SIDEMENU----------------------- **/
  .home-content__nav {
    display: none;
  }

  .home-content__nav-title {
    color: #0067ad;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 22px;
    margin-top: 62px;
  }

  .home-content__nav-links {
    padding: 34px;
    margin-top: -32px;
  }

  .home-content__nav-link-title a {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
  }

  .home-content__nav-link-title {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    margin-top: 12px;
  }

  /** -----------------------CAROUSEL----------------------- **/
  .home-carousel {
    display: none;
    /* align-content: center;
    background: url(../images/Pattern.png) repeat center center fixed;
    display: grid;
    grid-template-columns: 596px;
    grid-template-rows: auto;
    justify-content: center;
    padding-bottom: 32px; */
  }

  .this-carousel {
    background: transparent !important;
  }

  .this-carousel .item {
    background: transparent !important;
    padding: 25px 25px;
    border: none;
    border-right: 2px solid rgba(155, 155, 155, 0.1);
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    outline: none;
    padding: 0 !important;
    position: absolute;
    right: -52px;
    transform: translateY(50%);
  }

  .home-carousel-item__title {
    margin: 8px 0;
  }

  .home-carousel-item__title b {
    color: #3e3e3e;
    font-size: 18px;
  }

  .home-carousel-item__email {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .home-carousel-item__phone {
    color: #3e3e3e;
    margin-bottom: 5px;
  }

  .home-carousel-item__hour {
    color: #757577;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    box-shadow: -8px 0px 12px -8px #131313;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    background: none;
    border: none;
    border-right: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    left: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .owl-carousel .owl-nav button.owl-next {
    background: none;
    border: none;
    border-left: 1px solid #131313;
    bottom: 50%;
    color: #0067ad !important;
    font-size: 72px !important;
    right: -52px;
    outline: none;
    padding: 0 !important;
    position: absolute;
    transform: translateY(50%);
  }

  .this-carousel .item {
    background: transparent !important;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 2px solid rgba(0, 0, 0, 0.052);
    padding: 25px 25px;
  }

  .owl-dots {
    display: none;
  }

  /** ----------------------- MENUTABS ----------------------- **/

  ul {
    display: flex;
    padding: 10px 0;
    margin-top: 25px;
    margin-bottom: 25px;
    outline: none;
    overflow: scroll;
    overflow-y: hidden;
  }

  ul li {
    border-right: 2px solid rgba(0, 0, 0, 0.065);
    margin-right: 5px;
    outline: none;
    padding: 10px 25px;
    text-align: center;
  }

  ul li a {
    outline: none;
  }

  ul li a p {
    outline: none;
    width: 112px;
  }

  ul li a p:last-child {
    outline: none;
    padding-top: 8px;
  }

  #current,
  #current a {
    background: #193f7c;
    color: #fff;
    position: relative;
  }

  /* ul li:hover a,
  ul li:hover {
    background: #193f7c;
    color: #fff;
  } */

  #current::before {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #193f7c;
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
    bottom: -10px;
    transform: translateX(-50%);
  }

  .tabs-title {
    display: none;
    /* color: #193f7c;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px; */
  }

  .tabs-display-cards {
    display: flex;
    position: relative;
  }

  .tabs-card {
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    padding: 25px;
    position: relative;
    margin-bottom: 65px;
    width: 295px;
  }

  .tabs-class {
    color: #a21839;
    font-size: 22px;
    font-weight: 700;
    left: -12px;
    margin-top: -18px;
    padding: 12px 0;
    position: relative;
  }

  .tabs-week {
    color: #0067ad;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 12px;
    position: absolute;
    right: 22px;
    top: 25px;
  }

  .tabs-hour {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    left: -12px;
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
  }

  .tabs-date {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    right: 24px;
    padding-bottom: 12px;
    position: absolute;
    top: 84px;
  }

  .tabs-text {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 100;
    left: 28px;
    padding-top: 12px;
    position: relative;
  }

  .tabs-price {
    color: #4f4f4f;
    font-size: 32px;
    font-weight: 600;
    left: 25px;
    padding-bottom: 12px;
    padding-top: 5px;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
  }

  .tabs-price b {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 300;
  }

  .tabs-button {
    background: #45a83c;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    left: -15px;
    padding: 20px 30px;
    position: relative;
    width: 275px;
  }

  .tabs-button:hover {
    background: #86c54b;
  }

  .tabs-info {
    color: #0067ad;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
  }

  .owl-carousel .owl-nav button.owl-next {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-next::before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-left: 50px;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  .owl-carousel .owl-nav button.owl-prev {
    color: transparent !important;
    font-size: 72px !important;
    outline: none;
  }

  .owl-carousel .owl-nav button.owl-prev::before {
    border-bottom: 60px solid transparent;
    border-right: 60px solid #0067ad;
    border-top: 60px solid transparent;
    content: "";
    height: 0;
    left: -15px;
    outline: none;
    padding-right: 0;
    position: absolute;
    top: 20%;
    transform: scale(0.32);
    width: 0;
  }

  /** ----------------------- MODAL ----------------------- **/

  .tabs-info__modal {
    height: 100%;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
  }

  .tabs-info__modal-visible {
    visibility: visible;
  }

  .tabs-info__modal-overlay {
    background: hsla(0, 0%, 0%, 0.32);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    visibility: hidden;
    width: 100%;
    z-index: 10;
  }

  .tabs-info__modal-visible .tabs-info__modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .tabs-info__modal-transition {
    left: 50%;
    opacity: 0;
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    transition: opacity 0s linear;
  }

  .tabs-info__modal-visible .tabs-info__modal-transition {
    background: #fff;
    left: 50%;
    opacity: 1;
    padding: 0px 52px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-title__one {
    color: #0067ad;
    font-size: 26px;
    font-weight: 600;
    padding: 25px 0;
  }

  .modal-title__two {
    color: #313131;
    font-size: 26px;
    font-weight: 600;
    padding: 25px 0;
  }

  .modal-close {
    color: #0067ad;
    cursor: pointer;
    font-family: "Kodchasan", sans-serif;
    font-size: 32px;
    font-weight: 300;
    padding: 25px 0;
    position: absolute;
    right: 15px;
    top: -22px;
    transform-origin: 50% 50%;
    transition: transform 0.6s cubic-bezier(0.31, -0.5, 0.67, 1.55);
    transform-style: preserve-3d;
  }

  .modal-close:hover {
    transform: rotate(90deg);
  }

  .modal-text__list {
    color: #4f4f4f;
    padding: 2px 0;
  }

  .modal-parcel {
    color: #4f4f4f;
    padding: 2px 0;
  }

  .modal-incash {
    color: #4f4f4f;
    padding-top: 2px;
    padding-bottom: 32px;
  }

  /** MOBILE MENU **/
  .arrow-img {
    cursor: pointer;
    margin-top: -21.5px;
    padding: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  .rotate {
    transform: rotate(180deg);
    transition: 0.3s;
  }
  .rotate-reset {
    transform: rotate(0deg);
    transition: 0.3s;
  }

  .mobile-menu {
    background: #fff;
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2);
    left: -32px;
    padding: 22px;
    position: relative;
    width: 361px;
  }

  p.mobile-toggle {
    color: #00326b;
    font-size: 20px;
    font-weight: 900;
  }

  p.itajai {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #00326b;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: -17px;
    padding: 18px 0;
    text-align: left;
  }

  ul.mobile {
    display: block;
    margin-bottom: -15px;
    padding: 0;
    padding-top: 25px;
  }

  ul.mobile .title {
    border: none;
  }

  li.menu-item {
    border: none;
    padding: 8px 0;
    text-align: left;
  }

  ul.sub-menu {
    display: block;
    margin-bottom: -20px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 0;
  }

  ul.sub-menu .menu-item .menu-items {
    text-align: left;
  }

  .contato-title-mb {
    color: #3e3e3e;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
  }

  .menu-item div {
    color: #3e3e3e;
  }

  .menu-item-hour {
    color: #757577;
  }

  .breadcrumb {
    background: #efefef;
    display: flex;
    padding: 25px 0;
    padding-left: 15px;
  }

  .breadcrumb a {
    color: #4f4f4f;
    padding: 0 10px;
  }
}
